

body{
  background-color: #00040f;
  margin-left: 0px;
  /* margin-right: -10px; */
}
* {
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #00040f;
	--mainColorLight: #010407;
	--secondaryColor: #db2b39;
	--textColor: #ffffff;
}

/* Header.css */
header {
  top: 0%;
  position: fixed;
	display: flex;
	align-items: center;
  width: 100%;
  margin-left: 3%;
	justify-content: space-between;
	height: 14%;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header h3{
  font-size: 65px;
  font-Family: 'Pacifico-Regular';
}
nav a {
	/* margin: 0 1rem; */
	color: var(--textColor);
	text-decoration: none;
  margin-left: 130%;
  font-size:22px;
  text-align:end;
  margin-right: -120%;
  justify-content: space-between;
  
}
nav a:hover {
	color: var(--secondaryColor);
}
header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
  margin: 2px;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 3.0rem;
}
nav {
	display: flex;
	align-items: center;
}

/* ABOUT.css */
.about {
  align-items: center; /* Align items vertically in the center */
  margin-top: 25px;
  margin-left: 20%;
}
.about-about{
  margin-left: 1%;
  margin-right: 10%;
  display: grid;
}
.about h1{
  margin-left: 5px;
  margin-right: 20%;
  margin-top: 17%;
  font-size: 73px;
  font-Family: 'Pacifico-Regular';
  text-align: center; 
  color:#ffffff; 
}
.AnimatedLine{
  color: #dadada;
}

.about-btn {
  color: white;
  background: linear-gradient(to right, rgb(245, 140, 140) 50%, #dadada 50%);
  background-size: 200% 100%;
  background-position: -100% 0;
  transition: background-position 0.9s ease, color 0.7s ease;
  padding: 10px 20px;
  color: #010407;
  font-size:larger ;
  font-weight: bolder;
  width: 14%;
  height: 60px;
  border-radius: 46px;
  margin-top: 2%;
  margin-left: 1%;
}

.about-btn1{
  color: white;
 background: linear-gradient(to right, rgb(245, 140, 140) 50%, #dadada 50%);
 background-size: 200% 100%;
 background-position: -100% 0;
 transition: background-position 0.9s ease, color 0.7s ease;
 padding: 10px 20px;
 color: #010407;
 font-size:larger ;
 font-weight: bolder;
 width: 14%;
 height: 60px;
 border-radius: 46px;
 margin-top: 2%;
 margin-left: 22%; 
}

.about-btn:hover {
  background-position: 100% 0;
  color: white;
}
.about p{
  margin-left: 17%;
  margin-top: -4%;
  margin-right: 45%;
  font-size: 21px; 
  color: #eee;
  font-Family: 'Pacifico-Regular';
  text-align: center;
}

/* .motion-line {
  width: 2px;
  height: 20px;
  background: #db2b39;
  position:absolute; /* Ensure the z-index property works */
   /* Set a higher value for the motion design 
} */

.motion-line-initial {
  transform: scaleY(0);
}

.motion-line-animate {
  transform: scaleY(1.5);
  transition: transform 1s; /* Animation duration */
}


.do{
  color: #eee;
  font-Family: 'Pacifico-Regular';
  margin-left: -15%;
}
.do h2{
  margin-top: 10%;
  font-weight: bold;
  font-size: 55px; 
  font-Family: 'Pacifico-Regular';
  font-size: 60px;
  color: white;
}
.do p{
  font-size: 18px; 
  margin-right:62%;
  margin-left: -0%;
  margin-top: -3%;
  text-align: left;
}
.do-do{
  margin-top: -14%;
}

.do-do h3{ 
  font-Family: 'Pacifico-Regular';
  margin-left: 70%;
  font-size: 59px;
  margin-top: -3%;
  color: palegoldenrod;
}

.do-do span{
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
/* CSS FOR SKILLS */

.sc{
  display: flex;
}
.skil {
  font-size: 55PX;
  text-align: center;
  width: 100%;
  margin-top: 110px;
  font-Family: 'Pacifico-Regular';
  margin-left: -2%;
  color: white;
}
.category {
  margin: 10px;
  font-weight:lighter;
  padding-top: 30px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: #2a2e36;
  border-radius: 20px;
  width: 390px; /* Adjust width as needed */
  height: 380px; /* Adjust height as needed */
  margin-top: 20px;
  color: rgb(219, 221, 223);
  font-size: 17px;
  margin-left: 120px;
  margin-right: -60px;
}
.category-name{
  font-family: 'Pacifico-Regular';
  font-size: 28px;
}

.category:hover{
  background-color:#491605;
}

.icon {
  border-radius:50%;
  margin-top: 14px;
  padding: 9PX;
  width: 54px;
  height:40px;
  background-color: orangered;
}

.skills-item {
 
  width: 120px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  margin: auto;
  font-weight: light;
  margin-top: 0.5pc;
  background-color: #ece9e9da; /* Adjust color as needed */
  border-radius: 10px; /* Rounded border */
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

/* CSS FOR CONTACT */
.contact-container {
  display: flex;
  flex-direction:row;
  text-align: right;
  justify-content:flex-end;
  margin-right: 10%;
  padding-top: 156px;
  padding-bottom: 50px;
  text-decoration: dashed;
  color: #fff;
  margin-right: 4%;
}
.app-container{
  margin-bottom: 80px;
  /* justify-items: flex-start; */
  width:  65%;
 }
 .horizontal{
  width: 47%;
  color: #db2b39
 }

.contact-link {
   margin-top: 119px;
   /* display: inline-block; */
   width: 40px; /* Adjust the width and height as needed */
   height: 40px; /* Adjust the width and height as needed */
   border-radius: 50%; /* Makes the shape circular */
   text-align: center;
   margin: 10px; /* Adjust spacing between icons */
   color:orangered;
   margin-bottom: 30px;
}

.contact-link:hover {
  color: aliceblue;
} 
.app-container {
  position: relative;
}

/* App.css */

.app-container {
  /* Other styles for your app container */
  position: relative;
}

.horizontal {
  position: absolute;
  bottom: 0;
  right: -10%;
  left: -365%;
  /* width: 1000%; */
  border: none; /* Hide the default border */
  height: 1px; /* Height/thickness of the line */
  transform: scaleY(0.5);
  background-color: rgb(255, 253, 253); /* Color of the line */
}

.project{
  margin-top: 200px;
  color: aliceblue;
  margin-left: 80px;
}

.projecth1{
  margin-left: 295px;
}

.project-card {
  border: 1px solid rgb(168, 68, 10);
  padding: 20px;
  text-align: center;
  width: 250px;  
  height: 320px;
  border-radius: 3%;
  margin-top: 80px;
  margin-left: 295px;
  display: flex; /* Use flexbox */
  flex-direction: column;
}

.project-image {
  width: 100%;
  height: 180px;
  margin-top: 10px;
  margin-bottom: 0%;
  border-radius: 3%;
}

.project-name {
  font-size: 1.5em;
  margin-right: 388px;
  font-weight:normal;
}

button {
  background-color: #010407;
  width: 150px;
  height: 50px;
  color: #fff;
  /* border-radius: 10%; */
  /* border: 2px solid rgb(59, 23, 2); */
  /* cursor: pointer; */
  /* font-size: 1em; */
  margin-left: 100px;
  margin-top: auto;
}

/*PROJECT*/
/* .project-card{


} */
/*FOOTER*/

/*working*/
@media only screen and (max-width: 1424px) {
  .about h1 {
    margin-left: -22%;
    margin-right:3%;
    margin-top: 20%;
    font-size: 64px; 
    color:peru;
  }
  
  .about p {
    margin-top: -8%;
    margin-left: -1%;
    margin-right: 25%;
  }
  .do{
    margin-top: 15%;
    margin-left: -40%;
  }
  .do h2 {
    margin-top:2%;
    margin-left: 17%;  
  }
  .do p {
    margin-left: 17%;
    font-size: 21px;
    margin-right:44%;
    margin-top: -2%; 
    text-align: left;
  }
  .do-do{
    margin-top: -23%;
  }
  .do-do h3{
   margin-right: 10;
    text-align: right;
    margin-top: -5%;
    font-size: 64px;
  }
  .about-btn1{
    width: 28%;
    margin-left: 10%;
  }
  .about-btn{
    width: 28%;
  }
  /*SKILLS*/
  .skil{
    margin-left: -2%;
    font-size: 53px;
    color:white;
  }
  .sc{
    align-items: center;
    flex-direction:column;
    width: 75%;
    margin-top: -4%;
  }
  .category{
    width: 370px;
    height: 400px;
  }
}
header{
  margin-left: 0%;
}



@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
    font-size: 1.5rem;
    margin: 0 1rem;
    color: var(--textColor);
    text-decoration: none;
	}
  
  .about h1 {
    margin-left: -20%;
    margin-right:1%;
    margin-top: 25%;
    font-size: 60px; 
    color: palegoldenrod;
  }
  
  .about p {
    margin-top: -8%;
    margin-left: -1%;
    margin-right: 25%;
  }
  .do{
    margin-top: 15%;
    margin-left: 3%;
  }
  .do h2 {
    margin-top:2%;
    margin-left: 17%;  
  }
  .do p {
    margin-left: -3%;
    font-size: 21px;
    margin-right:24%;
    margin-top: -7%; 
    text-align: center;
  }
  .do-do{
    margin-top: 22%;
  }
  .do-do h3{
    margin-left: 8%;;
    text-align: center;
    margin-top: -10%;
    font-size: 64px;
  }
  .about-btn1{
    width: 28%;
    margin-left: 10%;
  }
  .about-btn{
    width: 28%;
  }
  /*SKILLS*/
  .skil{
    margin-left: -2%;
    font-size: 53px;
    color:white;
  }
  .sc{
    align-items: center;
    flex-direction:column;
    width: 75%;
    margin-top: -4%;
  }
  .category{
    width: 370px;
    height: 400px;
  }
}
header{
  margin-left: 0%;
}

@media screen and (max-width: 900px) {
  /* Styles for screens with a viewport width of 768 pixels or less */
    .about h1 {
      margin-left: -22%;
      margin-right:3%;
      margin-top: 30%;
      font-size: 64px; 
      color:green;
    }
    .about p {
      margin-top: -9%;
      margin-left: -16%;
      margin-right: 10%;
    }
    .do{
      margin-top: 10%;
      margin-left: 3%;
    }
    .do h2 {
      margin-top:23%;
      margin-left: 11%;
      margin-right: 0%;
      font-size: 300%;
    }
    .do p {
      margin-left: -10%;
      font-size: 19px;
      margin-right:25%;
      margin-top: -5%; 
      text-align: center;
    }
    .do-do{
      margin-top: 14%;
    }
    .do-do h3{
      margin-left: 8%;;
      margin-right: 26%;
      margin-top: -7%;
      font-size: 60px;
    }
    .about-btn1{
      width: 30%;
      margin-left: 4%;
    }
    .about-btn{
      width: 30%;
    }
    /*SKILLS*/
    .skil{
      margin-left: -2%;
      font-size: 50px;
      color:white;
      
    }
    .sc{
      align-items: center;
      flex-direction: column;
      width: 70%;
      margin-top: -6%;
    }
    .category{
      width: 330px;
      height: 390px;
    } 

}

@media only screen and (max-width: 600px){
  /* .header{
    background-color: #491605;
  } */
  .background-image-container {
    margin-top: 38%;
    margin-left: 15%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-image: url('./images/pics.jpeg');
    background-size: cover; /* Adjust as needed */
  }
header h3{
  font-size: 50px;
  margin-left: -2%;
}
    .about h1 {
      margin-left: -15%;
      margin-right:1%;
      margin-top: 5%;
      font-size: 45px; 
      color: white;
      line-height: 52px;
    }
    
    .about p {
      margin-top: -9%;
      margin-left: -18%;
      margin-right: 6%;
      margin-bottom: 12%;
      font-size: 14px;
      line-height: 20px;
      font-family: sans-serif;
      letter-spacing: normal;
      /* word-spacing: 1px; */
    }
    .do{
      margin-top: 17%;
      margin-left: 3%;
    }
    .do h2 {
      margin-top:29%;
      margin-left: 16%;
      margin-right: 0%;
      font-size: 34px;
    }
    .do p {
      margin-left: -23%;
      font-size: 16px;
      line-height: 22px;
      margin-right:3%;
      margin-top: -6%; 
      font-family: sans-serif;
      color: white;
    }
    .do-do{
      margin-top: 22%;
    }
    .do-do h3{
      margin-left: -3%;;
      margin-right: 26%;
      margin-top: -12%;
      font-size: 40px;
      color: white;
      display: flex;
      flex-direction: column;
      font-family: sans-serif;
    }
    .do-do span{
      font-size: 15px;
      font-weight: lighter;
    }
    .about-btn1{
      width: 40%;
      height: 55px;
      margin-left: -2%;
      border-radius: 20px;
      font-family: "Nunito Sans", sans-serif;
    }
    .about-btn{
      width: 40%;
      height: 55px;
      border-radius: 20px;
      font-family: "Nunito Sans", sans-serif;
    }
    /*SKILLS*/
    .skil{
      margin-left: -1%;
      font-size: 38px;
      color:white;
    }
    .sc{
      flex-direction: column;
      width: 60%;
      margin-top: -8%;
     
    }
    .category{
      width: 300px;
      height: 340px;
      margin-left: 47%;
      
    }
    .icon{
      margin-top: -6%;
    }
    .category p{
      margin-top: -2%;
      
    }
    .projecth1{
      margin-left: -22%;
      font-size: 40px;
      line-height:67px;
      text-align:center;
      font-family: "Abril Fatface", serif;
      font-weight: bolder;
      letter-spacing: normal;
    }
    .project h3{
      margin-left: 6%;
      margin-top: -24px;
      font-size: 15px;
      letter-spacing: normal;
      line-height:5px;
      text-align:left;
      font-weight: lighter;
      font-family: "Montserrat", sans-serif;
    }
    .project-card{
      flex-direction: column;
      width: 480px;
      height: 240px;
      margin-top: 9%;
      margin-left: -18%;
      right: -20%;
      font-size: 15px;
      border: 0px;
      border-radius: 5px;
    }
    .project-btn{
      width:48%;
      height: 47px;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      color: white;
      margin-left: 80px;
    }
    .project-name{
      margin-top: 8%;
      display:flex;
      font-family: 'Montserrat', sans-serif;
      line-height: 17px;
      font-size: 15px;
      width: 100%;
      height: 180px;
      margin-left: 20px;
      font-weight:600;
    }
    .project-btn:hover{
      background-color: #452017;
      border-radius: 20px 0px;
      width: 180px;
      height: 47px;
      padding: 12px;
    }
    .project-image{
      height: 210px;
      width: 450px;
      border-radius:5px;
      box-shadow:none;
    }
    .contact-container h3{
      font-size:20px;
      line-height: 32px;
      font-family: "Montserrat", sans-serif;
      font-weight:400;
      text-align: center;
    }
    .contact-link{
      border-radius : 50%;
      width: 36px;
      height: 36px;
     
    }
  }
